.my_pgpass
*.pyc
__pycache__/*
package-lock.json
backend/collected_static

# dependencies
frontend/node_modules
frontend/.pnp
.pnp.js

# testing
frontend/coverage

# next.js
frontend/.next/
frontend/out/

# production
frontend/build
frontend/data/siteInfo.json

# misc
.DS_Store
frontend/public/webfonts/
*.webp
eas logo/*

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local