.heroSection:before {
    content: "";
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
}
.hidden {
    display: none;
}
.heroSection {
    background-size: cover;
    padding: 7.5rem 0 7.375rem 0;
    position: relative;
    background-repeat: no-repeat;
}
.heroSection .container {
    text-align: center;
    color: #fff;
    z-index: 1;
    position: relative;
}
.heroSection h1 {
    font-size: 3.75rem;
    margin-bottom: 0.75rem;
}
.heroSection .subheading {
    font-size: 1.125rem;
}
.articleTitle {
    font-weight: bold;
    font-size: 2rem;
}
.articleTitle span {
    color: var(--accent-color);
}
.articleSubtitle {
    font-weight: bold;
    font-size: 1rem;
    color: var(--font-color-light);
    border-bottom: 2px solid #6ec1e4;
    padding: 0 0.625rem 0.625rem 0px;
}
.mainArticleSection {
    padding: 1.875rem 0px 3.75rem 0px;
}
.mainArticleSection p {
    line-height: 1.75rem;
}
.servicesSection {
    padding: 1.5rem 0 2rem 0;
    background-color: var(--service-section-background);
    color: var(--background-font-color);
}
.servicesSection h2 {
    font-size: 2.75rem;
}
.servicesSection ul {
    padding: 0;
    margin: 0;
}
@media (max-width: 575px) {
    .servicesSection h2 {
        font-size: 2rem;
    }
}
.servicesSection .faCheck {
    color: #6ac358;
    position: absolute;
    left: 0;
    top: 0.375rem;
}
.serviceItemContainer {
    margin-bottom: 0.625rem;
    position: relative;
    padding-left: 1.875rem;
    line-height: 1.75rem;
}

/* stuff from bootstrap */
.dFlex {
    display: -ms-flexbox!important;
    display: flex!important;
}

.container {
    width: 100%;
    padding-right: 0.9375rem;
    padding-left: 0.9375rem;
    margin-right: auto;
    margin-left: auto
}

@media (min-width: 576px) {
    .container {
        max-width:540px
    }
}

@media (min-width: 768px) {
    .container {
        max-width:720px
    }
    .articleSubtitle {
        width: fit-content;
    }
}

@media (min-width: 992px) {
    .container {
        max-width:960px
    }
}

@media (min-width: 1200px) {
    .container {
        max-width:1140px
    }
}
.col, .col1, .col10, .col11, .col12, .col2, .col3, .col4, .col5, .col6, .col7, .col8, .col9, .colAuto, .colLg, .colLg1, .colLg10, .colLg11, .colLg12, .colLg2, .colLg3, .colLg4, .colLg5, .colLg6, .colLg7, .colLg8, .colLg9, .colLg-auto, .colMd, .colMd1, .colMd10, .colMd11, .colMd12, .colMd2, .colMd3, .colMd4, .colMd5, .colMd6, .colMd7, .colMd8, .colMd9, .colMd-auto, .colSm, .colSm1, .colSm10, .colSm11, .colSm12, .colSm2, .colSm3, .colSm4, .colSm5, .colSm6, .colSm7, .colSm8, .colSm9, .colSm-auto, .colXl, .colXl1, .colXl10, .colXl11, .colXl12, .colXl2, .colXl3, .colXl4, .colXl5, .colXl6, .colXl7, .colXl8, .colXl9, .colXlAuto {
    position: relative;
    width: 100%;
    padding-right: 0.9375rem;
    padding-left: 0.9375rem;
}
@media (min-width: 992px) {
    .colLg6 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
}
@media (min-width: 768px) {
    .colMd6 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
}
.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -0.9375rem;
    margin-left: -0.9375rem;
}

/* stuff from fontawesome */
.fa, .fas {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
}
.fab {
    font-family: "Font Awesome 5 Brands";
    font-weight: 400
}
.fa, .fas, .fab {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}
.faMapMarkerAlt:before {
    content: "\f3c5";
}
.faEnvelope:before {
    content: "\f0e0";
}
.faPhoneAlt:before {
    content: "\f879";
}
.faBusinessHours:before {
    content: "\f64a";
}
.faCheck:before {
    content: "\f00c";
}
.faYelp:before {
    content: "\f1e9";
}
.faInstagram:before {
    content: "\f16d";
}
