footer.footer {
    color: var(--background-font-color);
}

.contactInfoItem {
    position: relative;
    padding-left: 27px;
    line-height: 30px;
    margin-bottom: 15px;
}
.contactInfoContainer .icon {
    padding-right: 10px;
    font-size: 16px;
    position: absolute;
    left: 0px;
    top: 8px;
}

footer .fa, .fas {
    color: var(--accent-color)
}

footer .creditCardSection {
    background: rgba(0, 0, 0, 0.4);
    padding: 25px 28px;
    border-radius: 5px;
    display: flex;
}
footer .creditCardSection .text {
    max-width: 400px;
}
.footerFirstSection {
    display: flex;
    flex-wrap: wrap;
}
.footer > .footerFirstSection > div {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    padding: 0 .7rem .5rem .7rem;
}
.footer > section > div h3 {
    margin-top: 0;
}
.footer > section > div ul {
    padding: 0;
    margin: 0;
}
.footerNavigation a:hover {
    color: var(--accent-color);
    transition: color 0.2s ease-in-out;
}

.socialMediaContainer ul {
    display: flex;
}
.socialMediaContainer ul li {
    margin-right: 10px;
}
.socialMediaContainer a {
    background: var(--accent-color);
    display: inline-block;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    color: var(--background-font-color);
    position: relative;
}
.socialMediaContainer a:hover {
    transform: scale(1.1);
    transition: transform 0.2s ease-in-out;
}

.creditCardsContainer {
    width: -moz-fit-content;
    width: fit-content;
    text-align: right;
    flex: 1;
    text-align: right;
    margin: auto;
    white-space: nowrap;
}
.creditCardsContainer img {
    height: min-content;
}
.creditCardsContainer img {
    margin-right: 10px;
}
.creditCardsContainer img:last-child {
    margin-right: 0px;
}

.copyrightSection {
    display: flex;
    justify-content: space-between;
    padding: 24px 0px;
    font-size: 14px;
    color: #d3d6df;
}
.copyrightSection a {
    color: #ffffff80;
    transition: color 0.3s ease-in-out;
}
.copyrightSection a:hover {
    color: var(--accent-color);
}

@media (max-width: 991px) {
    footer .creditCardSection {
        display: block;
        text-align: center;
    }
    footer .creditCardsContainer img {
        margin-top: 15px;
    }
    footer .creditCardSection .text {
        margin: 0 auto;
    }
}
@media (max-width: 390px) {
    footer .creditCardsContainer img {
        display: block;
        margin-right: 0px;
    }
}

@keyframes ripple-out {
    100% {
        top: -12px;
        right: -12px;
        bottom: -12px;
        left: -12px;
        opacity: 0
    }
}