.header {
    background-color: var(--background-color);
    height: 3.25rem;
    color: var(--background-font-color);
    z-index: 100;
    position: relative;
}
.header .container {
    height: 100%;
}
.header .contactInfoContainer {
    height: 100%;
    display: flex;
    justify-content: space-between;
}
.addressAndHoursContainer {
    display: flex;
}
.addressAndHoursContainer div {
    display: flex;
    margin: auto 2.1875rem auto 0;
    font-weight: 300;
}
.header .addressAndHoursContainer .icon {
    margin-right: 0.4375rem;
    margin-top: 0.1875rem;
}
.redPhoneButtonContainer {
    background-color: var(--accent-color);
    display: flex;
    transition: background-color 0.3s ease-in-out;
}
.redPhoneButton {
    display: block;
    padding: 0 1.5625rem;
    margin: auto 0;
    font-weight: 600;
}
.redPhoneButtonContainer:hover {
    background-color: var(--accent-dark);
}

@media (max-width: 575px) {
    .header {
        display: none;
        max-height: 0;
    }
}

@media (max-width: 767px) {
    .addressAndHoursContainer {
        font-size: 0.8125rem;
    }
}