.navBarContainer {
    z-index: 100;
    position: relative;
    background-color: var(--page-color);
}
.navBar {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
}
.logoContainer {
    margin: auto 0;
}
.logo {
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
}

.navbarToggler {
    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}
@media (max-width: 991px) {
    .navbarToggler {
        cursor: pointer;
        position: relative;
        height: 20px;
        width: 30px;
        top: 0px;
        border: none;
        padding: 0px;
        margin-top: 26px;
        margin-bottom: 26px;
    }
    .navbarToggler span,
    .navbarToggler span:after,
    .navbarToggler span:before {
        background: var(--accent-color);
    }
    .navbarToggler span:after,
    .navbarToggler span:before {
        content: "";
        height: 2px;
        width: 30px;
        display: block;
        left: 0px;
        position: absolute;
        /* transition: bottom .2s .3s, -webkit-transform .3s 0s; */
    }
    .navbarToggler span:after {
        bottom: -10px;
        transition: bottom .3s .3s, transform .3s 0s, -webkit-transform .3s 0s;
    }
    .navbarToggler span:before {
        top: -10px;
        transition: top .3s .3s, transform .3s 0s, -webkit-transform .3s 0s;
    }
    .navbarToggler span {
        height: 2px;
        width: 30px;
        display: block;
        cursor: pointer;
        position: absolute;
        left: 0px;
        top: 50%;
        transition: background .2s .3s;
    }
    .navbarToggler[aria-expanded="true"] span {
        background: transparent;
    }
    .navbarToggler[aria-expanded="true"] span:before {
        transform: rotate(45deg);
        top: 0px;
        transition: transform .3s .3s, -webkit-transform .3s .3s, top .3s 0s;
    }
    .navbarToggler[aria-expanded="true"] span:after {
        transform: rotate(-45deg);
        bottom: 0px;
        transition: transform .3s .3s, -webkit-transform .3s .3s, bottom .3s 0s;
    }
}
.navigationContainerContainer {
    background: var(--page-color);
    width: 100%;
    position: absolute;
    z-index: 50;
    top: -500px;
    padding-bottom: 13px;
}
.navigationContainer {
    flex-basis: 100%;
}
.navigationContainer ul {
    list-style-type: none;
}
.navigationContainer > ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.navigationContainer > ul > li:first-child {
    padding-top: 5px;
}
.navigationContainer li {
    position: relative;
    padding: 10px 0;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
}
.navigationContainer li:last-child {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
}
.navigationContainer .expandIcon {
    position: absolute;
    right: 20px;
    top: 50%;
    width: 14px;
    height: 14px;
    z-index: 2;
    transform: translateY(-50%);
}
.expandIcon:before {
    top: 6px;
    width: 100%;
    height: 2px;
}
.expandIcon:before, .expandIcon:after {
    content: "";
    position: absolute;
    background: #34373b;
    transition: all .2s linear;
}

.navigationItem {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none;
}
.navigationItem a {
    cursor: pointer;
}

.subMenuCollapsed {
    max-height: 0;
}
.subMenuContainer {
    overflow: hidden;
    transition: max-height .3s ease-in-out;
}

@media (max-width: 444px) {
    .logoContainer {
        width: 70%;
    }
}